
/*Import google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

/*setting website root colors*/
:root {
    --white: #e7ecef;
    --orange: #d17a22;
    --grey: #272932;
}

/*Body Styling*/
#index-body {
    background-image: url('/background.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#portfolio-body, #about-body, #resume-body, #widget-body {
    background-color: #272932 !important;
}



/*Navbar Styling*/
.navbar {
    height: 110px;
}

.navbar-nav {
    margin-right: 4rem;
}

.navbar-brand {
    margin-top: 25px;
}

.nav-item {
    color: #e7ecef;
    padding-top: 10px;
}

.nav-link.active {
    color: #d17a22 !important;
}

/*Header Styling*/

#row1 {
    padding-top: 80px;
    padding-left: 14px;
}

#about-row1 {
    padding-top: 80px;
    padding-left: 14px;
}

#portfolio-row1 {
    padding-top: 80px;
    padding-left: 14px;
}

#main-heading {
    font-family: "Roboto", sans-serif;
    color: #e7ecef;
    font-size: 350%;
}

#about-heading {
    font-family: "Roboto", sans-serif;
    color: #e7ecef;
    font-size: 300%;
}

#portfolio-heading {
    font-family: "Roboto", sans-serif;
    color: #e7ecef;
    font-size: 300%;
}

.html-styling {
    color: #d17a22;
    opacity: 0.7;
    font-weight:100;
    font-size: 250%;
    font-style: italic;
}

/*Sub-heading styling*/
#sub-heading {
    color: #e7ecef;
    padding-left: 106px;
    font-size: 180%;
    font-weight: 400;
    margin-bottom: 20px;
}

/*Styling the paragraph*/
.home-paragraph {
    font-size: medium;
    color: #e7ecef;
    padding-left: 106px;
    margin-bottom: 0.3em;

}

.about-paragraph {
    font-size: medium;
    color: #e7ecef;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 20px;
    margin-bottom: 0.3em;
}

/*Styling the portfolio button*/
.btn.home {
    margin-left: 104px;
    margin-top: 20px;
}

.btn.about {
    margin-left: 100px;
    margin-top: 10px;
}

.btn.btn-outline-dark {
    background-color:#e7ecef;
    border-color: var(--orange);
}

.btn.btn-outline-dark:hover {
    background-color: #272932;
    border-color: #e7ecef;
}

/*Images styling*/
.portfolio-images-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 150px;
}



.rental-pic > * {
    border-radius: 5px;
}
.rental-pic > *:hover{
    border-radius: 5px;
    opacity: 0.4;
    cursor: pointer;
}
.delivery-pic > * {
    border-radius: 5px;
}
.delivery-pic > *:hover{
    border-radius: 5px;
    opacity: 0.4;
    cursor: pointer;
}
.interior-pic > * {
    border-radius: 5px;
}
.interior-pic > *:hover {
    border-radius: 5px;
    opacity: 0.4;
    cursor: pointer;
}

.todo-pic > * {
    border-radius: 5px;
}
.todo-pic > *:hover{
    border-radius: 5px;
    opacity: 0.4;
    cursor: pointer;
}
.weather-pic > * {
    border-radius: 5px;
}
.weather-pic > *:hover{
    border-radius: 5px;
    opacity: 0.4;
    cursor: pointer;
}
.countdown-pic > * {
    border-radius: 5px;
}
.countdown-pic > *:hover {
    border-radius: 5px;
    opacity: 0.4;
    cursor: pointer;
}


@media (max-width: 992px) {
    .navbar {
        min-height: 110px; 
    }

    .navbar-brand {
        display: flex;
        align-items: center;
        margin-top: 1px;
    }

    .navbar-brand img {
        height: 100px;
        width: 100px;
    }

    .navbar-nav .nav-link {
        font-size: 0.9rem;
    }

    #index-body {
        background-color: #272932;
    }
}



