/* ----------------------- */
/* --- Global Settings --- */
/* ----------------------- */

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

/* Set website root colors */
:root {
    --white: #e7ecef;
    --orange: #d17a22;
    --grey: #272932;
}

/* --------------------- */
/* --- Page Settings --- */
/* --------------------- */

/* Body Styling */
#index-body, #portfolio-body, #about-body, #resume-body, #widget-body {
    background-color: #272932 !important;
}

#index-body {
    background-image: url('images/background.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* ---------------------- */
/* --- Navbar Styling --- */
/* ---------------------- */

.navbar {
    height: 110px;
}

.navbar-nav {
    margin-right: 4rem;
}

.navbar-brand {
    margin-top: 25px;
}

.nav-item {
    color: #e7ecef;
    padding-top: 10px;
}

.nav-link.active {
    color: #d17a22 !important;
}

/* ----------------------- */
/* --- Headers Styling --- */
/* ----------------------- */

#row1, #about-row1, #portfolio-row1 {
    padding-top: 80px;
    padding-left: 14px;
}

#main-heading, #about-heading, #portfolio-heading {
    font-family: "Roboto", sans-serif;
    color: #e7ecef;
}

#main-heading {
    font-size: 350%;
}

#about-heading, #portfolio-heading {
    font-size: 300%;
}

.html-styling {
    color: #d17a22;
    opacity: 0.7;
    font-weight:100;
    font-size: 250%;
    font-style: italic;
}

/* -------------------- */
/* --- Subheadings --- */
/* -------------------- */

#sub-heading, #about-subheading, #portfolio-subheading {
    color: #e7ecef;
    font-size: 180%;
    font-weight: 400;
    margin-bottom: 20px;
}

#sub-heading {
    padding-left: 106px;
}

/* ------------------- */
/* --- Paragraphs --- */
/* ------------------- */

.home-paragraph, .about-paragraph {
    font-size: medium;
    color: #e7ecef;
    margin-bottom: 0.3em;
}

.home-paragraph {
    padding-left: 106px;
}

.about-paragraph {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 20px;
}

/* ----------------------- */
/* --- Buttons Styling --- */
/* ----------------------- */

.btn.home, .btn.about {
    margin-top: 20px;
}

.btn.home {
    margin-left: 104px;
}

.btn.about {
    margin-left: 100px;
    margin-top: 10px;
}

.btn.btn-outline-dark {
    background-color:#e7ecef;
    border-color: var(--orange);
}

.btn.btn-outline-dark:hover {
    background-color: #272932;
    border-color: #e7ecef;
}

/* -------------------- */
/* --- Images Grid --- */
/* -------------------- */

.portfolio-images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    gap: 150px;
}

.rental-pic, .delivery-pic, .interior-pic, .todo-pic, .weather-pic, .countdown-pic {
    border-radius: 5px;
}
    
.rental-pic:hover, .delivery-pic:hover, .interior-pic:hover, .todo-pic:hover, .weather-pic:hover, .countdown-pic:hover {
    border-radius: 5px;
    opacity: 0.4;
    cursor: pointer;
}
    
/* ------------------- /
/ --- Resume Table --- /
/ ------------------- */
    
table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 80px;
    border-collapse: collapse;
    font-size: 1.1em;
    background-color: #e7ecef;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 5px 20px 0 rgba(0, 0, 0, 0.15);
}
    
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #e7ecef;
}
    
th {
    background-color: #19242e;
    color: #e7ecef;
}
    
tr:hover {
    background-color: #f2f2f2;
}
    
.contact-container {
    cursor: pointer;
}
    
    /* ------------------------ /
    / --- Radio Form Styling --- /
    / ------------------------ */
    
.radio-form {
    margin-left: 135px;
    margin-bottom: 30px;
}
    
.form-labels {
    color: #d17a22;
    font-size: large;
    padding-right: 10px;
}
    
.submit-button {
    margin-left: 10px;
    border:#e7ecef solid 2px;
    border-radius: 5px;
    background-color: #272932;
    color: #d17a22;
    cursor: pointer;
    width:100px;
    height: 50px;
}
    
.submit-button:hover {
    margin-left: 10px;
    border:#d17a22 solid 2px;
    border-radius: 5px;
    background-color: #e7ecef;
    color: #272932;
    cursor: pointer;
    font-weight: 600;
}
    
    /* ----------------------- /
    / --- Testimonial Styling --- /
    / ----------------------- */
    
.testimonial {
    margin-right: 135px;
    margin-left: 135px;
}
    
#testimonial-header, #testimonial-author {
    color:#e7ecef;
    background-color: #d17a22;
    border-radius: 5px;
    padding-right: 5px;
    font-size: large;
    text-align: right;
}
    
#testimonial-header, #testimonial-quote {
    text-align: right;
}
    
    #testimonial-quote {
    color:#e7ecef;
    padding-top: 2px;
}
    
/* ------------------------ /
/ --- Media Query Styling --- /
/ ------------------------ */
    
@media (max-width: 992px) {
.navbar {
    min-height: 110px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    margin-top: 1px;
}

.navbar-brand img {
    height: 100px;
    width: 100px;
}

.navbar-nav .nav-link {
    font-size: 0.9rem;
}

#index-body {
    background-color: #272932;
}
}

/* ----------------------- /
/ --- Counter App Styling --- /
/ ----------------------- */

/* ----------------------- /
/ --- Counter App Styling --- /
/ ----------------------- */

.counter-container {
    border-radius: 10px;
}
    
* {
    box-sizing: border-box;
}

.counter-div {
    max-width: 250px;
    height: 250px;
    background-image: url('images/count-app.png');
    background-size: cover;
    color: #e7ecef;
    font-size: 500%;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}

/* ---------------------- /
/ --- Button Styling --- /
/ ---------------------- */

.buttons {
    display: flex;
    justify-content: center;
}
    
.buttons button {
    padding: 1rem;
    margin: 0 1rem;
    font-size: 1.5rem;
    color: #272932;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
    
.buttons button:hover {
    background-color: #272932;
    color: #d17a22;
}
    
button.subtract, button.reset, button.add {
    background-color: #e7ecef;
    border: solid #d17a22;
}
    
/* End of CSS File */